.jumbotron{
    background-image: url("../img/4859.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;
    color: white;
    margin-top: 50px;
}

footer{
    padding: 10px 0px 10px 0px;
    background-color:#85C1E9;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 250px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.btn-foo{
    margin-bottom: 5px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}