@azulclaro: #85C1E9;

.margenes(@top, @bottom) {
    margin-bottom: @bottom;
    margin-top: @top;
}

.padding(@top, @right, @bottom, @left) {
    padding: @top @right @bottom @left;
}
.jumbotron{
    background-image: url("../img/4859.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;
    color: white;
    .margenes(50px, 10px );
}

footer{
    .padding(10px, 0px, 10px, 0px);
    background-color: @azulclaro;
    .margenes(10px, 0px );
}

.card-hotel{
    flex: 1 250px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.btn-foo{
    .margenes(0px, 5px );
}

.footer-address-icon{
    .padding(0px, 10px, 0px, 0px);
}

.tab-content{
    .padding(10px, 0px, 0px, 0px);
}