$azulclaro: #85C1E9;

@mixin margenes($top, $bottom) {
    margin-bottom: $bottom;
    margin-top: $top;
}

@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}
.jumbotron{
    background-image: url("../img/4859.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;
    color: white;
    @include margenes(50px, 10px );
}

footer{
    @include padding(10px, 0px, 10px, 0px);
    background-color: $azulclaro;
    @include margenes(10px, 0px );
}

.card-hotel{
    flex: 1 250px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.btn-foo{
    @include margenes(0px, 5px );
}

.footer-address-icon{
    @include padding(0px, 10px, 0px, 0px);
}

.tab-content{
    @include padding(10px, 0px, 0px, 0px);
}